//
// global variables

// spacer
$base: 16px;

// font
$ff: 'Inter', sans-serif;
$fw-l: 300;
$fw-r: 400;
$fw-b: 500;

// colors
$clr-light: #F3F5F6;
$clr-dark: #2E294E;
$clr-accent-green: #07a58e;
$clr-accent-orange: #ef6500;
$clr-primary: #0065d3;