@import '../../scss/partials/global-vars';

.arl-service-content-meta {

    display: block;
    position: relative;
    margin-top: $base * .8;
    padding-top: $base * 1;
    font-size: $base * .75;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 1px;
        background-color: darken( $clr-light, 5% );
    }    
}